$basic-font: 'OpenSans', sans-serif;
$font-title: 'Dosis', sans-serif;
$menu-item_font: 'Dosis', sans-serif;
$basic-line-height: 25px;
$basic-size: 14px;
$font-size-h2: 50px;
$menu-item_size: 17px;
$dark_gray: #acacac;
$regent_gray: #798285;