@import "vars";
@import "colors-matrix";

.wrapper {
  display: flex;
  min-height: 100vh; 
  font-family: $basic-font;
}

.main-menu {
  width: 220px;
  background: $main-menu_bg;
  border: 2px solid $border_color;
  padding-top: 15px;
  position: relative;

  &__list {
    margin-top: 15px;
  }

  &__item {
    width: 220px;

    &:hover .main-menu__link {
      color: #fff;
      cursor: pointer;
      background: rgba(0, 8, 12, .5);
    }
  }

  &__link {
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    color: #484848;
    width: 100%;
    text-indent: 10px;
    padding: 8px 0;
  }

  &__title {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
  }

  &__cross {
    position: absolute;
    right: 8px;
    top: 10px; 
    width: 16px;
    height: 16px;
    border: none;
    background: transparent url("../img/cross-btn.png");

    &:hover {
      cursor: pointer;
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  width: calc(100vw - 220px);
  border-left: 2px solid $border_color;
}

.header {
  min-height: 80px;
  border-top: 2px solid $border_color;
  border-bottom: 2px solid $border_color;
  background: $header_color;
  padding: 5px;
  position: relative;

  &__title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 20px 30px 30px 50px;
  }

  &__menu-btn {
    display: none;
    position: absolute;
    top: 10px;
    left: 20px;
    width: 48px;
    height: 48px;
    border: none;
    background: url("../img/menu-btn.png");

    &:hover {
      cursor: pointer;
    }
  }
}

.main-content {
  flex: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
}

.carousel {
  width: 700px;
  overflow: hidden;
  position: relative;
  margin: 30px;

  &__content {
    width: 3500px;
    height: 400px;
    display: flex;
    transition: transform .5s ease-in;
    transform: translateX(-700px);
    
    &:hover {
      cursor: pointer;
    }

    &--stopTransition {
      transition: 0s;
    }
  }

  &__image {
   width: 700px;
  }

  .circles-nav {
    position: absolute;
    bottom: 0;
    left: 42%;
  }
  .circles-nav__item {
    display: inline-block;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    border: 2px solid #000;
    background: #add5dc;
    margin: 5px 5px 15px;

    &--active {
      background: #fff;
    }
  }
}

.footer {
  background: $footer_color;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-top: 4px solid $border_color;
  border-bottom: 2px solid $border_color;

  &__title {
    font-size: 20px;
    font-weight: bold;
  }
}