@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.woff2") format("woff2"), url("../fonts/Roboto-Light.eot") format("eot"), url("../fonts/Roboto-Light.svg") format("svg"), url("../fonts/Roboto-Light.ttf") format("ttf"), url("../fonts/Roboto-Light.otf") format("otf");
  font-weight: 300; }
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.eot") format("eot"), url("../fonts/Roboto-Regular.svg") format("svg"), url("../fonts/Roboto-Regular.ttf") format("ttf"), url("../fonts/Roboto-Regular.otf") format("otf");
  font-weight: normal; }
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.eot") format("eot"), url("../fonts/Roboto-Bold.svg") format("svg"), url("../fonts/Roboto-Bold.ttf") format("ttf"), url("../fonts/Roboto-Bold.otf") format("otf");
  font-weight: bold; }
.wrapper {
  max-width: 1920px;
  font-family: 'Roboto', sans-serif;
  color: #2a2d2e; }

.header {
  width: 110%;
  height: 732px;
  background-image: url("../img/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  left: -83px;
  padding-top: 89px;
  padding-bottom: 70px; }
  .header__logo {
    display: block;
    margin: 0 auto 90px; }
  .header__title, .header__description {
    color: #fff;
    text-align: center; }
  .header__title {
    font-size: 56px;
    font-weight: 300;
    margin-bottom: 24px; }
  .header__description {
    font-size: 16px;
    width: 613px;
    margin: 0 auto 70px;
    line-height: 24px; }

.form {
  display: flex;
  flex-direction: column;
  width: 264px;
  color: #202020;
  margin: -8px auto 0;
  padding: 40px 38px;
  background: #f6f6f6;
  border-radius: 4px; }
  .form__title {
    margin-top: 2px;
    font-size: 24px;
    text-align: center;
    margin-bottom: 33px; }
  .form__input {
    width: 97.7273%;
    padding: 7px 5px 12px 2px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #9a9b9b;
    margin-bottom: 25px;
    font-weight: bold; }
    .form__input:focus {
      outline: none; }
  .form__label {
    font-size: 12px;
    color: #929394; }
  .form__btn-submit {
    font-size: 16px;
    letter-spacing: -0.03em;
    color: #fff;
    text-transform: uppercase;
    padding: 12px 15px;
    background: #9c27b0;
    border: none;
    border-radius: 4px;
    align-self: center; }

.benefits {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
  padding-top: 64px;
  padding-bottom: 70px;
  font-size: 14px;
  line-height: 24px; }
  .benefits__description {
    width: 39.1667%;
    margin-left: 25px; }
  .benefits__image {
    width: 100%;
    background-size: cover; }
  .benefits__title {
    font-size: 34px;
    line-height: 40px;
    margin-bottom: 25px; }
  .benefits__text {
    margin-bottom: 24px; }
  .benefits__container {
    width: 49.6667%;
    display: flex;
    margin-top: 5px; }
  .benefits__item {
    width: 44.9664%;
    margin-left: 4.1946%;
    margin-right: 5px; }
    .benefits__item:first-child {
      margin-right: 5px; }
  .benefits__title-h3 {
    font-size: 20px;
    margin-top: 25px;
    margin-bottom: 22px; }

.features {
  background: #fafafa;
  font-size: 14px;
  padding: 66px 0 35px;
  padding-bottom: 25px; }
  .features__caption {
    text-align: center;
    font-size: 34px;
    margin: 2px 0 25px 30px; }
  .features__paragraph {
    text-align: center;
    width: 390px;
    line-height: 24px;
    margin: 0 auto;
    padding-left: 5px; }
  .features__container {
    display: flex;
    width: 1200px;
    margin: 3px auto 0;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 55px;
    line-height: 24px; }
  .features__image {
    width: 39.1667%;
    margin-left: 30px; }
  .features__item {
    width: 625px;
    display: flex;
    margin-bottom: 55px; }
  .features__icon {
    width: 28px;
    height: 39px;
    background-image: url("../img/sport-reward_badge.png");
    margin-right: 35px;
    margin-left: 5px; }
  .features__description {
    width: 88%;
    padding-right: 15px;
    margin-left: -2px; }
    .features__description > .features__title {
      font-weight: bold;
      font-size: 16px;
      margin-bottom: 23px; }
  .features__title {
    margin-top: 5px; }

.screenshots {
  display: flex; }
  .screenshots__item {
    width: 25vw;
    height: 18vw;
    background-size: cover; }
    .screenshots__item:first-child {
      background-image: url("../img/screenshot1.jpg");
      background-position: top 0 left 75%; }
    .screenshots__item:nth-child(2) {
      background-image: url("../img/screenshot2.jpg"); }
    .screenshots__item:nth-child(3) {
      background-image: url("../img/screenshot3.jpg"); }
    .screenshots__item:nth-child(4) {
      background-image: url("../img/screenshot4.jpg"); }
  .screenshots__item:not(:first-child) {
    background-position: top 0 left 10%; }

.faq {
  padding: 66px 0 35px;
  padding-bottom: 45px;
  background: #fafafa;
  font-size: 14px; }
  .faq__title {
    text-align: center;
    font-size: 34px;
    margin: 5px 0 25px 25px; }
  .faq__text {
    text-align: center;
    line-height: 24px; }
  .faq__container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 1200px;
    margin: 60px auto 0; }
  .faq__item {
    width: 45.8333%;
    line-height: 24px;
    margin-bottom: 20px; }
    .faq__item > .faq__title-h3 {
      font-weight: bold;
      margin-bottom: 25px;
      font-size: 20px; }
    .faq__item:nth-child(3), .faq__item:last-child {
      align-self: flex-end; }

.footer {
  width: 100%;
  height: 72px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center; }

@media screen and (max-width: 1280px) {
  .benefits,
  .features__container,
  .faq__container {
    width: 1000px; }

  .features__container {
    justify-content: center; }
  .features__image {
    margin-right: 3vw; }
  .features__item {
    width: 52.5vw; }
  .features__icon {
    margin-right: 0; } }
@media screen and (max-width: 1024px) {
  .header {
    left: -50px;
    height: 740px;
    background-position: top -5px left -30px; }

  .benefits,
  .features__container,
  .faq__container {
    width: 92vw; }

  .benefits {
    padding: 60px 0 45px; }
    .benefits__description {
      margin: 0;
      width: 40.5%; }
    .benefits__container {
      width: 52%; }
    .benefits__item {
      margin-left: 5%;
      width: 50%; }

  .features {
    padding-bottom: 5px; }
    .features__caption {
      margin-left: 0; }
    .features__container {
      padding-top: 55px; }
    .features__image {
      width: 40%;
      margin-left: 7px; }
    .features__icon {
      margin: -1px 9px 0 40px; }
    .features__description {
      margin-left: 20px; }

  .faq {
    padding: 65px 20px 45px; }
    .faq__title {
      margin-left: -5px;
      margin-bottom: 25px; }
    .faq__container {
      margin-top: 60px; }
    .faq__item {
      width: 48%;
      margin-left: 10px; }
      .faq__item:nth-child(odd) {
        margin-left: -5px; } }
@media screen and (max-width: 768px) {
  .header {
    width: 100%;
    height: 770px;
    padding: 50px;
    background-position: top 0 left 0; }
    .header__title {
      font-size: 50px;
      width: 90vw;
      margin-left: 25px; }
    .header__logo {
      margin: 30px auto 65px; }

  .form {
    margin-left: 28vw; }
    .form__title {
      margin-bottom: 27px; }
    .form__input {
      padding: 7px 5px 7px 2px; }
    .form__btn-submit {
      font-size: 14px; }

  .benefits {
    padding-top: 53px;
    padding-bottom: 40px;
    width: 94vw;
    line-height: 22px;
    font-size: 13px; }
    .benefits__title {
      font-size: 30px;
      line-height: 36px;
      margin-bottom: 22px; }

  .features {
    padding-top: 55px;
    padding-bottom: 30px;
    line-height: 20px;
    font-size: 12px; }
    .features__caption {
      font-size: 30px;
      margin-bottom: 27px; }
    .features__icon {
      padding-right: 2px; }
    .features__description {
      margin-left: 5px; }
      .features__description > .features__title {
        font-size: 14px; }
    .features__container {
      padding-top: 45px; }
    .features__image {
      width: 41%; }
    .features__item {
      margin-bottom: 25px; }

  .screenshots {
    flex-wrap: wrap; }
    .screenshots__item {
      width: 50%;
      height: 177px;
      margin: 0; }

  .faq {
    padding-top: 60px;
    line-height: 20px;
    font-size: 12px; }
    .faq__title {
      font-size: 30px; }
    .faq__container {
      width: 98vw;
      margin-top: 50px; }
    .faq__item {
      width: 47%; }
      .faq__item > .faq__title-h3 {
        font-weight: normal;
        margin-bottom: 15px; }

  .footer {
    font-size: 13px; } }
@media screen and (max-width: 700px) {
  .benefits {
    flex-direction: column; }
    .benefits__description, .benefits__container {
      width: 90vw;
      margin: 0 auto; }
    .benefits__item {
      width: 100%;
      margin: 0; }
      .benefits__item:first-child {
        margin-right: 10px; }

  .form {
    margin: 0 auto; }

  .features__container {
    flex-direction: column; }
  .features__image, .features__item {
    width: 85vw; }
  .features__image {
    margin: 0 auto; }
  .features__item {
    margin: 20px 20px 35px; }

  .faq__container {
    flex-direction: column; }
  .faq__item {
    width: 90vw; }
    .faq__item:nth-child(odd) {
      margin-left: 0; }

  .header {
    left: -35px; }
    .header__title, .header__description {
      width: 90vw; }
    .header__title {
      margin-left: 15px; } }
@media screen and (max-width: 480px) {
  .header {
    background-position: top -5px left -30px;
    padding-top: 40px;
    height: 805px; }
    .header__logo {
      margin-left: 31vw;
      margin-bottom: 55px; }
    .header__description {
      margin-bottom: 60px;
      font-size: 14px;
      width: 90vw; }

  .form {
    width: 55vw;
    margin-left: 12vw; }
    .form__title {
      font-size: 22px;
      margin-bottom: 35px; }

  .benefits {
    padding-top: 40px;
    padding-bottom: 25px; }
    .benefits__container {
      flex-wrap: wrap; }
    .benefits__item {
      margin-bottom: 25px; }
    .benefits__image {
      width: 52%;
      display: block;
      margin: 5px auto 10px; }
    .benefits__title-h3 {
      margin-top: 30px; }

  .features {
    padding-bottom: 42px; }
    .features__caption {
      margin-bottom: 23px; }
    .features__image {
      width: 96%; }
    .features__container {
      padding-top: 35px; }
    .features__item {
      width: 85vw;
      margin: 26px 0 0; }
    .features__icon {
      padding: 0;
      margin: 0 9px 0 2px; }

  .screenshots {
    flex-wrap: wrap; }
    .screenshots__item {
      height: 172px; }

  .faq {
    padding-top: 50px;
    padding-bottom: 25px; }
    .faq__container {
      margin-top: 40px; }
    .faq__item {
      margin-left: 0;
      margin-bottom: 28px; }
      .faq__item:first-child {
        order: 1; }
      .faq__item:nth-child(2) {
        order: 3; }
      .faq__item:nth-child(3) {
        order: 2; }
      .faq__item:last-child {
        order: 4; }
      .faq__item:nth-child(3), .faq__item:last-child {
        align-self: flex-start; }
      .faq__item .faq__title-h3 {
        margin-bottom: 18px; } }
@media screen and (max-width: 1920px) and (min-width: 320px) {
  .wrapper {
    overflow-x: hidden; } }

/*# sourceMappingURL=main.css.map */
