$header_color: #00bcd4;
$footer_color: #00bcd4;
$main-menu_bg: $lightBlue;
$border_color: $black;

$form_border-color: $charcoal;
$form_bg: $white_opacity;

$submit-btn_bg: linear-gradient(to top, $white, $regent_st_blue);
$submit-btn-hover_bg: linear-gradient(to top, $regent_st_blue, $white);

$logout-btn_bg: linear-gradient(to top, #484848, #00bcd4);
$logout-btn-hover_bg: linear-gradient(to top, #00bcd4, #484848);

$errors_color: $speech_red;

$sidebar_bg: $whitesmoke;