$cod_grey: #2a2d2e;
$snow: #fafafa;
$white: #fff;
$white_smoke: #f6f6f6;
$submarine: #9a9b9b;
$dark_orchid: #9c27b0;
$iron: #cacecf;
$fontSize_h2: 34px;
$basic-line-height: 24px;
$section_padding: 66px 0 35px;
